
.App {
    width: 80%;
    margin: auto;
}

.App h1 {
    font-family: 'Source San Pro', sans-serif;
}
.show-code {
    border: 3px solid #850707;
    font-family: 'Source Code Pro', monospace;

}


/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 25em;
    height: 2em;
    line-height: 2.05;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin: 2em 0;
  }
  .select.action {
    width: 21em;
  }
  select {
    flex: 1;
    padding: 0 1em;
    color: #fff;
    cursor: pointer;
  }

  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  